@model MvcStok.Models.Entity.TBLURUNLER

@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("UrunGuncelle", "Urun", FormMethod.Post))
{
<div class="form-group">
    @Html.LabelFor(u => u.URUNID)
    @Html.TextBoxFor(u => u.URUNID, new { @class = "form-control" })
    <br />
    @Html.LabelFor(u => u.URUNAD)
    @Html.TextBoxFor(u => u.URUNAD, new { @class = "form-control" })
    <br />
    @Html.LabelFor(u => u.MARKA)
    @Html.TextBoxFor(u => u.MARKA, new { @class = "form-control" })
    <br />
    @Html.LabelFor(u => u.URUNKATEGORI)
    @*@Html.TextBoxFor(u => u.URUNKATEGORI, new { @class = "form-control" })*@
    @Html.DropDownListFor(u=>u.TBLKATEGORILER.KATEGORIID, (List<SelectListItem>
    )ViewBag.tasinanDegerler, new { @class = "form-control" })
    <br />
    @Html.LabelFor(u => u.FIYAT)
    @Html.TextBoxFor(u => u.FIYAT, new { @class = "form-control" })
    <br />
    @Html.LabelFor(u => u.STOK)
    @Html.TextBoxFor(u => u.STOK, new { @class = "form-control" })
</div>

    <div>
        <button class="btn btn-warning" onclick="return confirm('Ürünü güncellemek istediğinize emin misiniz?')">Ürün Güncelle</button>
    </div>
}

